/* Basic body styling */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container with image border */
.container-header {
    position: relative;
    width: 30vw; /* Adjust for responsiveness */
    height: 80vh;
    max-width: 650px; /* Optional: set a max width */
    max-height: 90vh; /* Set a max height to prevent it from being too tall */
    border: 2vw solid transparent;
    border-image: url("images/background_outline_padding_6x9.svg") 30 stretch; /* Ensure the image path is correct */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    overflow: hidden; /* Prevent content overflow */
}

/* Main container text */
.container-header-text {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically */
    flex: 1; /* Take available space */
    flex-direction: column; /* Stack content vertically */
    max-width: 100%; /* Make sure it uses full width */
    
}

/* Logo styling */
.logo {
    width: 4.5vw; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0; /* Remove unnecessary margins */
}


/* Header styling */
.header {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.header h1 {
    margin: 0; /* Remove default margin */
    font-size: 3vw; /* Adjust as needed */
}

.header p {
    margin: 0; /* Remove default margin */
    font-size: 1vw; /* Adjust as needed */
}

.drink-list {
    margin: 0; /* Remove default margin */
    text-align: center; /* Center the text */
    font-size: 0.9vw; /* Adjust as needed */
}

/* Media query for smaller screens */
@media (max-width: 650px) {
    .container-header {
        width: 30vw; /* Make it more responsive */
        height: auto; /* Let height adjust based on content */
    }
    .header h1 {
        font-size: 3vw; /* Increase size on smaller screens */
    }
    .header p {
        font-size: 1vw; /* Adjust for smaller screens */
    }
    .drink-list {
        font-size: 1vw; /* Adjust for smaller screens */
    }
}
